
# R Studio
*.Rproj
**/.Rproj.user
*.Rhistory
# LSHTM environment
*.bat
# Zed
*.zedstate
# LaTeX
/Paper/figures/*
/Paper/*.gz
/Paper/*.log
/Paper/*auxlock
/Paper/*.bst
/Paper/*.fdb_latexmk
/Paper/*.fls
/Paper/*.xdv
# Plotly
*.plotly
# VIM
.viminfo
