
# R Studio
*.Rproj
**/.Rproj.user
*.Rprofile
*.Rhistory
.Rproj.user

# LSHTM environment
*.bat

# WIP model data / documents
*.xlsx
*.pdf

# Zed
*.zedstate

# LaTeX
/Paper/figures/*
/Paper/*.gz
/Paper/*.log
/Paper/*auxlock
/Paper/*.bst
/Paper/*.fdb_latexmk
/Paper/*.fls
/Paper/*.xdv

# Plotly
*.plotly

# VIM
.viminfo

# SSH
/.ssh

# VSCode
.vscode/*
